/* 
    Fonts used: Moltors, Exo
*/

body {
    font-family: "Exo", sans-serif !important;
}

header {
    background-color: #EE4B2B;
}

.text-header a { 
    text-decoration: none;
}

.text-header h2 {
    font-family: 'Moltors', sans-serif;
    color: #222222;
}

.button {
    border: none;
    border-radius: 0.3rem;
    background-color: #222222;
    color: #ffffff;
}

.button:hover {
    background-color: #313131;
    color:#ffffff;
}

/* Gray border */
.bdr-gray {
    border: 1px solid #616161 !important;
}

/* Custom width for Form*/
.custom-width {
    width: 20rem;
}

/* Styles for flash() */
.flash-message {
    background-color: #ff6961;
    border-radius: 0.3rem;
}

.top-margin.info-container {
    min-width: 50vw;
    margin-top: 34vh;
}

.box-size {
    width: 20vw;
}

.top-margin {
    margin-top: 28vh;
}

.margin-footer {
    margin-top: 15vh;
    padding-bottom: 1vh;
}

footer a {
    color: #000000;
}

/* Custom font color*/
.yellow-color {
    color: #fff300;
}

/* Stats bar color */
.green-color {
    background-color: #2eb774;
}

.stats-bar {
    height: 2vh;
}

.stats-bar-border {
    border: 0.1rem solid white;
    width: 16.13rem; 
}

.pokemon-type {
    border-radius: 0.3rem;
}

/* Colors for pokemon types */
.bug {
    background-color: #9BCC50;
    color: #000000;
}

.dark {
    background-color: #6F6E6F;
}

.dragon {
    background-color: #6D28D9;
}

.electric {
    background-color: #F7D02C;
    color: #000000;
}

.fairy {
    background-color: #D685AD;
    color: #000000;
}

.fighting {
    background-color: #C22E28;
}

.fire {
    background-color: #fd7d24;
    color: #000000;
}

.flying {
    background-color: #A98FF3;
    color: #000000;
}

.ghost {
    background-color: #735797;
}

.grass {
    background-color: #7AC74C;
    color: #000000;
}

.ground {
    background-color: #E2BF65;
    color: #000000;
}

.ice {
    background-color: #96D9D6;
    color: #000000;
}

.normal {
    background-color: #A8A878;
    color: #000000;
}

.poison {
    background-color: #A33EA1;
}

.psychic {
    background-color: #F366A2;
    color: #000000;
}

.rock {
    background-color: #a38c21;
}

.steel {
    background-color: #B7B7CE;
    color: #000000;
}

.water {
    background-color: #6390F0;
}


/* Animation */
.stats-bar {
    animation: fillBar 1.8s forwards;
}

@keyframes fillBar {
    0% {
        width: 0;
    }
    100% {
        width: var(--bar-width); 
    }
}


/* Media Query */