{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="my-5">
        <form class="custom-width d-flex flex-column gap-3" action='/' method="post">
            <input class="bdr-gray form-control w-auto" autocomplete="off" name="pokemon" placeholder="Pokemon name or ID" type="text">
            <button class="button p-1" type="submit">Search</button>
            {% if get_flashed_messages() %}
                <div class="flash-message fw-bold p-1 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            {% endif %}   
        </form>
    </div>
    <div class="text-center">
        <h4 class="mt-4 mb-2 fw-bold">Featured Pokémon:</h4>
        <img class="img-fluid" src="/static/sprites/sprites/pokemon/other/official-artwork/{{ id }}.png" alt="{{ name }}">
        <h6>{{ name }}</h6>
        {% if id|int < 10 %}
            <p>no. 00{{ id }}</p>
        {% elif id|int < 100 %}
            <p>no. 0{{ id }}</p>
        {% else %}
            <p>no. {{ id }}</p>
        {% endif %}
        <br>
        <h6>{{ stats }}</h6>
    </div>
{% endblock %}